<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- creando un bloque de contenido mediante el uso de: -->
    <title>Mi Sitio Web - {% block title %}{% endblock %}</title>
    <!-- se crea una ruta para cargar el archivo estático style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <!-- manda a llamar a todas los urñs que hemos creado en hello.py mediante el uso de url_for y con ello se puede navegar entre plantillas -->
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        <li><a href="{{ url_for('animales') }}">Animales</a></li>
        <li><a href="{{ url_for('code', code='print(code)') }}">Code</a></li>
      </ul>
    </nav>
    <!-- se crea otro bloque de contenido -->
    {% block content %} {% endblock %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
