{% extends 'base.html' %} 
{% block title %} Página de Mascotas {% endblock %} 
{%block content %}
    {% if datos.nombre == None and datos.edad == None %}
        <h1>Saludos a todos los animales</h1>
    {% elif datos.edad == None %}
        <h1>Hola, {{datos.nombre}}</h1>
    {% elif datos.email == None %}
        <h1>Hola mascota de nombre: {{datos.nombre}}, tu edad es: {{datos.edad}} años</h1>   
    {% else: %}
    <h2>Mis datos</h2>
    <ul>
        <li>Nombre: {{datos.nombre}}</li>
        <li>edad: {{datos.edad}} años</li>
        <li>email: {{datos.email}}</li>
    </ul>
    {% endif %}
{% endblock %}